/*
    For responsive styles,
    play around with wrapper class ( width, height ).
*/
.wrapper {
    display: flex;
    width: 1024px;
    height: 768px;
}
#mynetwork {
    flex: 1;
    border: 1px solid #ddd;
}
.minimapRadar {
    position: absolute;
    background-color: rgba(16, 84, 154, 0.26);
}
.minimapImage {
    position: absolute;
}
.minimapWrapperIdle {
    opacity: 0.2;
    transition: opacity 0.5s;
}
.minimapWrapperMove {
    opacity: 0.95;
    transition: opacity 0.5s;
}
